html {
	background: url(../images/bridge.jpeg) no-repeat center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

body {
	background: transparent;
}


.page-header {
	padding-top: 15px;
	border-bottom: none;
}

.about, .projects {
	background-color: rgba(240, 240, 240, 0.75);
	border-radius: 8px;
	margin: 10px;
}

a:hover {
	cursor: pointer;
}