html {
	background: url(../images/bridge.jpeg) no-repeat center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

body {
	background: transparent;
	height: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}

.navbar {
	background-color: #3c3c3c;
}


.page-header {
	padding-top: 15px;
	border-bottom: none;
}

.about, .projects, .contact-form {
	background-color: rgba(240, 240, 240, 0.75);
	border-radius: 8px;
	margin: 10px;
}


.email-form {
	background: none;
}

a:hover {
	cursor: pointer;
}
